body {
  background-image: url("images/ricepaper_v3_@2X.png");
  background-repeat: repeat;
  font-size: 1.2em;
}

.navBar {
    width: 90%;
    height: 80px;
}
.navBar ul {
    list-style-type: none;
    margin: 1.9% 2% 0% 2%;
    padding: 0;
    background-color: #1da195;
    position: fixed;
    top: 0;
    width: 90%;
    display:inline-block;
    border: 3px solid #000;
}

.navBar li a {
    display: inline-block;
    vertical-align: top;
    color: #A0E0C0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    float: left;
    border-right: 2px solid #000;
}

.navBtn {
  padding: 14px 16px;
}

ul li a:hover {
    background-color: #111;
    color: #A0E0C0;
}

ul li .active {
    background-color: #000;
    color: #68bfb7;
}

h1 {
  text-align: center;
}

article {
  display: inline-block;
  width: 90%;
  margin: auto;
  padding: 20px;
  border: 2px solid #000;
}

#screenshots img {
  margin: 1%;
  box-shadow: 10px 15px 20px 	#A9A9A9;

}
